@import url("reset.css");

.container {
    width: 1200px;
    margin: 0 auto;
    font-family: Inter;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
.bg-1 {
    background: #F6FFD4;
}

.bg-2 {
    background: #DAFBF7;
}

.bg-3 {
    background: #F9E6F9;
}

.border {
    border: 1px solid black;
}

.fnt-color {
    color: #000000;
} 

.fnt-sz0 {
    font-size: 0px;
}

.fnt-sz-norm {
    font-size: 16px;
    line-height: 100%;
}

.fnt-norm {
    font-weight: 400;
}

.fnt-bold {
    font-weight: 700;
}

.inline-block {
    display: inline-block;
}

.float-lf {
    float: left;
}

.float-rt {
    float: right;
}

.flex {
    display: flex;    
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.h-100 {
    height: 100px;
}

.h-133 {
    height: 133.333px;
}

.h-200 {
    height: 200px;
}

.h-400 {
    height: 400px;
}

.w-400 {
    width: 400px;
}

.w-800 {
    width: 800px;
}

.int-pad {
    padding: 20px 20px;
}

.txt-algn {
    text-align: justify;
}

.v-align {
    vertical-align: top;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
.index_page {
    max-width: 1200px;
    margin: 0 auto;
}

.main_button {
    padding: 16px 16px;
    border: 3px black;
    border-radius: 6px;
    color: black;
    background: darkgray;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}

.main_button a:hover {
    background: white;
}

h1 {
    font-size: larger;
    font-weight: 800;
    text-align: center;
    padding: 18px;
}